:root {
	--log: #d1c6b5;
	--warn: #616f7c;
	--error: #627d98;
	--info: #6b645c;
	--debug: #aaa193;
	--trace: #9c1ec2;
	--fatal: #ff0000;
}
.type-log {
	color: var(--log);
}
.type-warn {
	color: var(--warn);
}
.type-error {
	color: var(--error);
}
.type-info {
	color: var(--info);
}
.type-debug {
	color: var(--debug);
}
.type-trace {
	color: var(--trace);
}
.type-fatal {
	color: var(--fatal);
}